@tailwind preflight;

@tailwind components;

a {
  text-decoration: none;
  color: inherit;
}

.text-transparent-50 {
  color: rgba(255, 255, 255, .5);
}

::selection {
  background: #c8f2ff;
}

.btn {
  @apply .uppercase .tracking-wide .text-xs .px-6 .py-2 .rounded;
}

.btn-blue {
   @apply .bg-blue .text-white;
}

@import './refactoringui.css';


@tailwind utilities;
